/*
        Author: Elm Jolley
        Date:  
        Filename: bio.css
    */

#banner {

    position: relative;
    width: 100%;
    height: auto;
    margin: 1rem 0;
    text-align: center;
}

.bio-photo {
    position: static;
    display: block;
    max-width: 300px;
    width: 80%;
    margin: 20px auto;
    border-radius: 25%;
    border: 4px solid #555;
}

h1 {
    position: static;
    text-align: center;
    font-size: 24px;
    margin: 1rem 0 0.5rem;
}

section {
    position: static;
    line-height: 1.5;
    font-size: 16px;
    width: 90%;
    margin: 0 auto 2rem;
    padding: 10px;
}

#ctc-logo {
    position: fixed;
    bottom: 5em;
    left: 0em;
    width: 325px;
    height: auto;
}



    @media (max-width: 450px) {

        #ctc-logo {
            position: static;
            width: 80px;
            top: auto;
            left: auto;
            margin: 10px auto;
            display: block;
        }
        
        h1 {
            font-size: 20px;
        }
        
        section {
            font-size: 14px;
            line-height: 1.4;
        }
    }
        

/* |====================================================================|
|  LAPTOP STYLES (@media min-width: 768px and max-width: 1023px)       |
|  - Transitional layout between mobile and desktop                    |
|====================================================================| */

@media (min-width: 450px) and (max-width: 1023px) {

    #logo {
        position: relative;
        height: 10em;
        margin: 1em auto;
        display: block;
    }

    nav {
        position: relative;
        background-color: rgb(93, 146, 165);
        width: 90%;
        margin: 0 auto;
        text-align: center;
        font-size: 20px;
        padding: 0.75rem 0;
    }

    nav a {
        font-size: 20px;
        padding: 0.6rem 1rem;
        display: inline-block;
    }

    footer {
        position: relative;
        width: 100%;
        height: 3em;
        font-size: 14px;
        margin-top: 3rem;
    }
}



@media (min-width: 1024px) {


    #banner {
        width: 45em;
        height: auto;
        position: fixed;
        top: 2em;
        right: 2em;
        margin: 0;
    }

    .bio-photo {
        position: fixed;
        top: 12em;
        left: 20px;
        display: block;
        width: 300px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    h1 {
        position: fixed;
        top: 7.5em;
        left: 350px;
        font-size: 30px;
        text-align: left;
        margin: 0;
    }

    section {
        line-height: 25px;
        position: fixed;
        top: 16em;
        left: 350px;
        font-size: 17px;
        width: auto;
        margin-right: 20px;
        padding: 0;
    }
}